.example-form {
  min-width: 100%;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  /* width: 100%; */
  background-color: #f1efef ;
  border-bottom: 1px solid #c3bebe ;
  border-radius: 2px ;
  width: 23%;
  margin: 1%;
}

