<div class="card-container">
  <app-review-card
    style="display: contents"
    *ngFor="
      let review of data.slice(
        (pageNumber - 1) * pageLimit,
        pageNumber * pageLimit
      )
    "
    [data]="review"
  ></app-review-card>
</div>
<div class="mt-2">
  <ng-container *ngIf="this.pageNumber > 1">
    <button mat-flat-button class="mr-2" (click)="onClickPrevious()">
      Previous
    </button>
  </ng-container>
  <ng-container *ngIf="pageNumber * pageLimit < data.length">
    <button mat-flat-button (click)="onClickNext()">Next</button>
  </ng-container>
</div>
