body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background: #e8eaf6;
}

html,
body {
  height: 100%;
}

:root {
  /* CSS HEX */
  --cadet-blue-crayola: #acadbcff;
  --blue-bell: #9b9eceff;
  --slate-blue: #6665ddff;
  --blue-ryb: #473bf0ff;
  --black: #000500ff;
}

.form-error {
  color: red;
}


.snackbar-success {
  background: lightgreen;
  color: black;
}

.snackbar-info {
  background: lightskyblue;
  color: black;
}

.snackbar-warn {
  background: orange;
  color: white;
}

.snackbar-error {
  background: lightcoral;
  color: white;
}

h2 {
  color: rgb(49, 53, 83);
  font-size: large !important;
  margin: 30px 0 !important;
  font-weight: 300 !important;
}
