.review-card {
  box-shadow: 0px 2px 10px -3px #0003;
  width: 24%;
  min-width: 150px;
  height: 150px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 12px;
  color: black;
}

.review-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 9px -4px #0003;
}

.review-card-rating {
  font-weight: 900;
}

.review-card-heading {
  font-weight: 700;
}

.review-card-user {
  color: gray;
}

.review-card-comment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
}
