body,
input[type="text"],
button {
  color: #333;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  color: #444;
  font-weight: lighter;
}

nav {
  box-shadow: 0 2px 8px -4px #0003;
}

.navbar-heading {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-item {
  font-weight: 600;
  margin-left: 12px;
  text-transform: uppercase;
}

.nav-item.active {
  border-bottom: 2px solid #333;
}


.nav-item:hover {
  color: white;
  border-radius: 4px;
  background: #346799;
}

.nav-link {
  color: #333 !important;
  text-transform: uppercase;
}

.nav-link:hover {
  color: white !important;
}

.dropdown-item {
  font-size: smaller;
}


button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


.floatR {
  float: right;
}
