<h2>Review Details</h2>

<div>
  <div class="review-card-large">
    <span class="review-card-large-product"> {{ reviewData.product }}, </span>
    <span class="review-card-large-city">
      {{ reviewData.city }}
    </span>
    <div class="review-card-large-rating">
      <app-rating size="medium" [rating]="reviewData.rating"></app-rating>
    </div>
    <div class="review-card-large-service-provider">
      {{ reviewData.serviceprovider }}
    </div>

    <div class="review-card-large-user">
      Reviewed by
      <b>
        <a
          [routerLink]="['/userReviews']"
          [queryParams]="{ userID: reviewData.userID }"
          matTooltip="Check more reviews by this user"
        >
          {{ reviewData.userID }}
        </a>
      </b>
      on
      <span class="review-card-large-time">
        {{ reviewData.cts | date: "MMMM d, y" }}
      </span>
    </div>
    <br />

    <p class="review-card-large-content mt-1">
      &ldquo;{{ reviewData.content }}&rdquo;
    </p>

    <div class="mt-4">
      <button mat-raised-button (click)="upvoteReview(reviewData.reviewID)">
        <span>
          {{ reviewData.upvotes }} Upvotes
          <mat-icon style="font-size: smaller">thumb_up</mat-icon>
        </span>
      </button>
    </div>
  </div>
</div>
