.review-card-large {
  box-shadow: -3px 3px 2px 0px #0003;
  padding: 16px;
  background-color: white;
  width: 100%;
}

/* .review-card-large-rating {
  float: right;
} */

.review-card-large-service-provider {
  font-weight: 700;
  color: gray;
}

.review-card-large-product {
  font-weight: 700;
}
