<h2>User Reviews</h2>

<p *ngIf="!reviewData.length">Reviews not available</p>

<div>
  <div *ngFor="let review of reviewData" class="review-card-large mb-4">
    <span class="review-card-large-product">
      {{ review.product }}
    </span>
    <div class="review-card-large-rating">
      <app-rating size="medium" [rating]="review.rating"></app-rating>
    </div>
    <div class="review-card-large-service-provider">
      {{ review.serviceprovider }}
    </div>
    <br />
    <p class="review-card-large-content">{{ review.content }}</p>
  </div>
</div>
