.review-card-large {
  padding: 24px;
  background-color: white;
  width: 100%;
  color: black;
  border-radius: 8px;
}

.review-card-large-city {
  font-size: small;
  font-weight: 600;
  color: gray;
}

.review-card-large-user {
  margin-top: 4px;
}

.review-card-large-content {
  font-weight: 700;
}

.review-card-large-service-provider {
  font-weight: 700;
  color: gray;
}

.review-card-large-product {
  font-weight: 700;
}
