<h2>Why AsalReviews</h2>

<article style="color: #4c4c4c">
  AsalReviews is a blockchain and AI based review system that provides
  transparency, trust, self-regulated, and distributed systems by providing
  immutable data stores for reviews where the opinions of every customer are
  valued and noticed.

  <br />
  <br />

  AsalReviews can be beneficial to the service provider as well to maintain
  their reputation and build a better relationship with customers by winning
  over their trust that would help them in their business growth eventually.

  <br />
  <br />
  <b>
    Why AsalReviews is better than current state-of-the-art or existing
    solutions -
  </b>
  <br />
  <br />
  <p>
    1) <b> Non-blockchain solution</b>: The issue with existing non-blockchain
    solutions is centralization, non-transparency, central authority is under
    control, guidelines for reviews are not shared publicly, filtration of fake
    reviews is not disclosed to the consumers.
  </p>
  <p>
    2)<b> Blockchain solution: </b>
    A prominent issue in all the existing blockchain solutions is the storage of
    the reviews. Storing the reviews on the Ethereum blockchain is very
    expensive, and is infeasible. Our solution is better as we are using a
    blockchain framework other than Ethereum, which would be less expensive and
    more performant.
  </p>
</article>
