<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="container">
  <form [formGroup]="accountForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col">
        <h2>Create a free account</h2>
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Sign Up with Facebook
        </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Sign Up with Twitter
        </a>
        <a href="#" class="google btn"
          ><i class="fa fa-google fa-fw"> </i> Sign Up with Google+
        </a>
      </div>
    </div>

    <div
      style="
        width: 100%;
        height: 12px;
        border-bottom: 1px solid black;
        text-align: center;
      "
    >
      <span style="font-size: 20px; background-color: #f3f5f6; padding: 0 10px">
        OR
        <!--Padding is optional-->
      </span>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="text"
          formControlName="contactNo"
          placeholder="Contact No"
          required
        />
        <input
          type="text"
          formControlName="website"
          placeholder="Web Site"
          required
        />
        <input
          type="text"
          formControlName="firstName"
          placeholder="First Name"
          required
        />
        <input
          type="text"
          formControlName="lastName"
          placeholder="Last Name"
          required
        />
        <input
          type="text"
          formControlName="companyName"
          placeholder="Company Name"
          required
        />
        <input
          type="text"
          formControlName="email"
          placeholder="Work Email"
          required
        />

        <input
          type="password"
          formControlName="password"
          placeholder="Set Password"
          required
        />
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <input type="submit" value="Get Started" />
      </div>
    </div>
  </form>
</div>

<!-- <div id="signup">
  <h1>Sign Up for Free</h1>

  <form action="/" method="post">

  <div class="top-row">
    <div class="field-wrap">
      <label>
        First Name<span class="req">*</span>
      </label>
      <input type="text" required autocomplete="off" />
    </div>

    <div class="field-wrap">
      <label>
        Last Name<span class="req">*</span>
      </label>
      <input type="text"required autocomplete="off"/>
    </div>
  </div>

  <div class="field-wrap">
    <label>
      Email Address<span class="req">*</span>
    </label>
    <input type="email"required autocomplete="off"/>
  </div>

  <div class="field-wrap">
    <label>
      Set A Password<span class="req">*</span>
    </label>
    <input type="password"required autocomplete="off"/>
  </div>

  <button type="submit" class="button button-block">Get Started</button>

  </form>

</div> -->
